/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

p, a, h2, h3{
    font-family: 'Lato', sans-serif;
}

input{
    appearance: none;
    border-radius: 0px;
}

a{ text-decoration: none; color: #E73742; }
.fa{ color: white; }
.btn{
    display: block;
    width: 150px;
    box-sizing: content-box;
    padding: 8px;
    border: 1px solid #6c6c6c;
    border-radius: 30px;
    text-align: center;
}

.page-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    color: #2C3E50; 
}

.page-subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #2C3E50; 
}

/* Ventana Modal */
.modal{
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    overflow: hidden;
    
    background: rgba(255,255,255,0.5);
    
    width: 100%;
    height: 100vh;
}

.modal-content{
    margin: auto;
    max-width: 800px;
    padding: 50px;
    background: white;
    border-bottom: 10px solid #2C3E50;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);    
    text-align: center;
}

.modal-header img{
    width: 80%;
    margin-bottom: 20px;
}

.modal-header h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2C3E50;
}

.modal-header h2::after{
    content: '';
    display: block;
    margin: 15px auto;
    width: 170px;
    height: 3px;
    
    background: #E73742;
}

.modal-header p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.modal-buttons{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.modal-buttons .btn{
    border: 3px solid #E73742;
    margin-bottom: 20px;
    
    transition: position 0.5s, border 0.5s;
}

.modal-buttons .btn:hover{
    background: #E73742;
    color: white;
}

.show-modal{
    display: flex;
}

/* main header styles */
.login-container{ display: none; }
.main-header{
    width: 100%;
    height: 100px;    
    padding: 0 20px;
    
    background: url(../media/walls/pleca_sup.png) repeat-x;
    background-size: contain;
    border-top: 7px solid #E73742;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.4s;
}
    .main-header img{
        width: 100px;
        vertical-align: middle;
    }
    .main-nav{        
        display: none;        
    }
        .main-nav a {
            width: 100%;
            padding: 20px;
            
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            color: white;
            font-weight: lighter;
            font-size: 1.2em;
        }

.show-nav { 
    width: 100%;
    
    background: rgba(0, 0, 0, 0.7);
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    
    position: absolute;
        top: 93px;
        left: 0;    
}

.fix-header{
    position: fixed;
    top: -10px;
    left: 0;

    border-top: 0px;
    border-bottom: 7px solid #22313F;
}


/* Footer */
.marcas{
    text-align: center;
    padding: 40px;
    background: #22313F;
}
    .marcas h2{
        color: white;
        font-family: 'Dancing Script', Verdana;
        font-size: 2em;
        text-shadow: 0 1px 5px #3c3c3c;
    }

footer{
    background: url(../media/walls/Footer.jpg) center;    
    padding: 60px;
}
    .foot-info p{
        font-family: Lato, sans-serif;
        color: white;
        text-align: right;
    }


.construccion{
    width: 100%;
    height: 100%;
    
    background: url(../media/walls/en-construccion.png) no-repeat top;
    background-size: cover;
}