@media only screen and (min-width: 900px) {
    .show-cart-btn{
        margin: 0;
    }
    .main-nav-btn{
        display: none;
    }
    .main-nav{
        width: 700px;        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .main-nav a, .main-nav a i{
            border: none;
            width: auto;
            
            transition: all 0.5s;
        }
            .main-nav a:hover, .main-nav a:hover i{
                color: #E73742;
            }
    
/*    Login */
    .login-container{
        display: none;
        
        width: 400px;
        
        position: absolute;
        top: 93px;
        right: 25px;
        
        padding: 10px 30px;

        background: whitesmoke;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2);

        border-top: 7px solid #2C3E50;
    }
    .input-group{
        position: relative;
        width: 100%;
        height: 50px;
        
        margin-bottom: 20px;
        
        font-family: 'Lato', sans-serif;
        font-weight: 300;  
    }   
    
    .input-group input{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        
        background: transparent;
        
        font-size: 1em;
        padding: 5px;
        
        border: none;
        border-bottom: 3px solid #1C4E9D;
    }
    
    .input-group label{
        color: #1C4E9D;
        position: absolute;
        left: 0;
        top: 0;
        
        transition: all 0.6s;
    }
    
    .input-group:hover input, .input-group input:focus{
        border-bottom: 3px solid #E73742;
    }
    
    .access-input-group a{
        display: block;
        font-size: 0.9em;
        color: #1C4E9D;
        font-weight: 300;
        margin: 5px 0;
    }
    
    .access-input-group a:hover{
        color: #E73742;
    }
    
    .access-input-group input{
        width: 100%;
        padding: 10px 0;
        margin: 0.6em 0;
        
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 1.1em;
        font-weight: 600;
        border: none;        
        background: #E73742;
        
        border-bottom: 3px solid #96281B;
    }
    
    .show-login{
        display: block;
    }
    
/*    Carrito de compras */
    .cart{
        width: 400px;
        position: absolute;
        left: auto;
        right: 30px;
        top: 93px;
    }

    .cart-resume{
        margin-top: 0px;
        height: 120px;
    }

    .cart-resume  img{
        width: 160px;
        margin-right: 10px;
        display: block;
    }

    .cart-resume .cart-resume-data #chelapack-name,
    .cart-resume .cart-resume-data #chelapack-status
    {
        display: block;
    }

    .cart-resume .cart-resume-data #chelapack-status{
        font-size: 0.9em;
        font-weight: 600;
        color: teal;
        margin-bottom: 10px;
    }
}