/* Blue #1C4E9D; */

/* User ID */
#userID{
    font-weight: 500;
    color: #E73742;
}

.user-active{
    border-bottom: 3px solid #1C4E9D;
}

/* User nav */
.user-nav{
    max-width: 900px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
}

.user-nav a{
    width: 200px;
    text-align: center;
    line-height: 3;
}

/* User panel */
.user-panel{
    padding: 10px;    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

    .user-panel .user-profile{
        max-width: 1000px;
        width: 80%;
        height: 100%;
        margin: 0 auto;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-content: center;
    }

        .user-panel .user-profile .user-header{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            
            margin-bottom: 20px;
            border-bottom: 5px solid #1C4E9D;
            padding: 20px;
        }

            .user-panel .user-profile .user-header .user-img{
                width: 200px;
                height: 200px;
                
                overflow: hidden;
                
                margin-bottom: 20px;
                
                border: 5px solid #3c3c3c;
                background: #1C4E9D;
                border-radius: 50%;
            }
                .user-panel .user-profile .user-header .user-img img{
                    width: 100%;
                    height: 100%;
                }

        .user-panel .user-profile .user-data{}
            .user-panel .user-profile .user-data h2{
                font-family: 'Lato', sans-serif;
                font-weight: 600;
                color: #22313F;
                margin-bottom: 20px;
            }

.user-panel .user-profile .user-data .my-data .data-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
}

.user-panel .user-profile .user-data .my-data .data-group .label{
    font-weight: 600;
    color: #212121;
    font-size: 1.2em;
}

.data{
    font-family: 'Lato', sans-serif;
    color: #212121;
}

.send-dir{
    padding: 20px;
    background: whitesmoke;
    font-size: 1.2em;
}

/* Historial de Compras*/
.user-historial{
    display: none;
    
    width: 80%;
    margin: auto;
}  

.user-historial-header{
    display: none;
}

.hist-elem{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px;    
    text-align: center;
}

.hist-elem:nth-child(odd){
    background: whitesmoke;
}

.hist-fecha{
    font-size: 1.1em;
    font-weight: 600;
    
    margin-bottom: 10px;
}

.hist-productos{
    margin-bottom: 10px;
}

.hist-producto-group{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.hist-costo{
    font-weight: 600
}

